<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Server Error</title>
  <link rel="stylesheet" href="/css/styles.css"> <!-- optional -->
</head>
<body>
  <div style="text-align: center; padding: 50px;">
    <h1>500 - Something went wrong</h1>
    <p>Our team has been notified. Please try again later.</p>

    <% if (error) { %>
      <pre style="color: red;"><%= error.message %></pre>
    <% } %>

    <a href="/">Return to home</a>
  </div>
</body>
</html>