<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome, <%= user.name %>!</h1>
    <p>Email: <%= user.email %></p>
    <p>Age: <%= user.age %></p>
    <a href="/users/logout">Logout</a>
</body>
</html>