<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>log in to access dashboard</h1>

  <!-- Display error message if exists -->
  <% if (typeof error !== 'undefined') { %>
    <p style="color:red;"><%= error %></p>
  <% } %>

  <!-- Classic signup form -->
<form action="/users/login" method="POST" class="space-y-4">
    <label>Email:</label><br>
    <input type="email" name="email" placeholder="Enter email" required>
    <br><br>

    <label>Password:</label><br>
    <input type="password" name="password" placeholder="Enter password" required>
    <br><br>

    <button type="submit">Sign Up</button>
  </form>

  <p class="google-link">
      <a href="/auth/google">Login with Google</a>
    </p>
    <p>Don’t have an account? <a href="/users/render-signup">Sign Up</a></p>
</body>
</html>