<!DOCTYPE html>
<html>
    <head>
        <title>Sign up here</title>
        <link rel="stylesheet" href="/style.css"> <!-- optional -->
    </head>
    <body>
        <h2>Register</h2>
      <form action="/users/submit-form" method="POST" id="registerForm" id="loginForm" autocomplete="off">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" placeholder="Enter your name" required><br><br>

      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email" placeholder="Enter your email" required><br><br>

      <label for="age">Age:</label><br>
        <input type="number" id="age" name="age" placeholder="Enter your age"><br><br>

        <input type="password" name="password" placeholder="Enter password" required>
        <br><br>

      <button type="submit">Submit</button>
      </form>
      <script>
  // Only for AJAX, otherwise redirect clears inputs anyway
  //document.getElementById('loginForm').addEventListener('submit', function () {
    //this.reset();
  //});
</script>
    </body>
</html>